spring:
  application:
    name: course-manage

  datasource:
    url: jdbc:mysql://localhost:3307/course_manage
    username: root
    password: admin123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
  mail:
    host: smtp.gmail.com
    port: 587
    username: "backend.skillgo@gmail.com"
    password: "yjqj wpfw rqvx kdzk"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
server:
  port: 8080
  servlet:
    context-path:

Jwt:
  signerKey: "Hj1qok1EhD77jwWz8aUuSXmCN4VC+WpMFDTqlwD73qkgTlKEIzqH2re9g/S06Vzc"
file:
  root-path: D:\Theme02\Course02Theme\html.themegenix.com\skillgro\assets\img
